<!DOCTYPE html>
<html lang="en">
	<head>
    	<meta charset="utf-8">
    	<!-- <meta name="description" content="Your description goes here"> -->
    	<!-- <meta name="keywords" content="one, two, three"> -->
    	<meta name="viewport" content="width=device-width, initial-scale=1">
    	<script defer src="https://use.fontawesome.com/releases/v5.0.4/js/all.js"></script>

		<title>redline</title>
		<!-- external CSS link -->
		<link rel="stylesheet" href="css/normalize.css">
		<link rel="stylesheet" href="css/style.css">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
	</head>
	<body>
		<header>
			<nav>
				<img src="../logos/redlinelogo.png" alt="">
				<ul>
					<li>home</li>
					<li>about</li>
					<li>neighborhoods</li>
					<li>social</li>
					<li>f.a.q</li>
				</ul>
			</nav>
		</header>
		<section class="mainContent">
			<section class="leftMain">
				<ul>
					<li><h2>3 Bedrooms</h2></li>
					<li><h2>3 Bathroom</h2></li>
					<li><h2>3000 sq ft</h2></li>
				</ul>
				<p>I wish! It's a nickel. Also Zoidberg. Or a guy who burns down a bar for the insurance money! Okay,
					it's 500 dollars, you have no choice of carrier, the battery can't hold the charge and the reception isn't very…
         Soothe us with sweet lies. Ven ve voke up, ve had zese wodies. Oh, but you can. But you may have to metaphorically make a
				 deal with the devil. And by "devil", I mean Robot Devil. And by "metaphorically", I mean get your coat.
         That's the ONLY thing about being a slave. Spare me your space age technobabble, Attila the Hun! You mean while I'm sleeping in it? No argument here.
				 Who said that? SURE you can die! You want to die?! Hello Morbo, how's the family?</p>

				 <h3>{See yourself living here? ...hit us up}</h3>
			</section>
			<section class="rightMain">
				<img class="" src="../images/dorchester.png" alt="">
			</section>
		</section>
		<section class="lowerContent">
			<section class="lowerContentLeft">
				<ul>
					<li>
						<h3><i class="fas fa-phone"></i><span>:</span>617.702.4600</h3>
					</li>
					<li>
						<h3><i class="fas fa-envelope"></i><span>:</span>thecrew@redlinebrokers.com</h3>
					</li>
				</ul>
			</section>
			<section class="lowerContentRight">
				<ul>
					<li><img src="../images/dorchester.png" alt="House Image 1"></li>
					<li><img src="../images/dorchester.png" alt="House Image 2"></li>
					<li><img src="../images/dorchester.png" alt="House Image 3"></li>
				</ul>
			</section>
		</section>
		<footer>
			<ul>

			</ul>
			<ul>

			</ul>
			<ul>

			</ul>
		</footer>
<!-- external JavaScript link -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="js/main.js"></script>
	</body>
</html>
